@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .example-track {
    height: 3px;
    border-radius: 9999px;
  }

  .example-track.example-track-0 {
    background: gray;
  }

  .example-track.example-track-1 {
    background: black;
  }

  .example-track.example-track-2 {
    background: grey;
  }


  /* checkbox */
  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .category {
    display: inline-block;
    /* margin-top: 5px; */
  }

  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkbox-container:hover .checkmark {
    border-color: #000;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  .checkbox-container input:checked~.checkmark {
    background-color: #161414;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-container input:checked~.checkmark:after {
    display: block;
  }

  .checkbox-container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  /* Radio */
  .radio-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .radio-container input:checked~.radio-checkmark {
    border-color: #161414;
  }

  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }

  .radio-container:hover .radio-checkmark {
    border-color: #161414;
  }

  .radio-container input:checked~.radio-checkmark {
    background-color: white;
  }

  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio-container input:checked~.radio-checkmark:after {
    display: block;
  }

  .radio-container .radio-checkmark:after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #2a2929;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    /* display: hidden; */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: block;
  }

}